<app-loading *ngIf="loading"></app-loading>

<div class="container">
  <div class="row">
    <form class="form-inline w-100 mb-4">
      <div class="col">
        <label class="sr-only" for="inlineFormInputGroup">Search by user</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-search"></i></div>
          </div>
          <input class="form-control" type="search" placeholder="Search by user" aria-label="Search" name="username"
            [(ngModel)]="username" (keydown.enter)="getUser(username)">
        </div>
      </div>
    </form>
  </div>
</div>

<app-user [user]="user" *ngIf="!loading"></app-user>
<hr>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="list-group">
        <app-repository  *ngFor="let repo of repos" [repos]="repo"></app-repository>
      </div>
    </div>
  </div>
</div>
