body {
  font-family: "Work Sans";
  font-size: 13px;
  margin: 0; }

.loading-gif {
  flex: 1;
  justify-content: center;
  align-items: center; }

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.main-wrapper {
  flex: 1; }

.main-header {
  background-color: #484849;
  padding: 15px 0;
  margin-bottom: 30px; }
  .main-header .container {
    align-items: flex-start; }
    .main-header .container a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      display: flex;
      align-items: center; }
      .main-header .container a i {
        margin-right: 10px;
        font-size: 2.2rem; }

.main-footer {
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  padding: 30px 0;
  margin-top: 30px; }
  @media (min-width: 319px) and (max-width: 767px) {
    .main-footer {
      height: auto; } }
  @media (min-width: 319px) and (max-width: 767px) {
    .main-footer .col-md-3 {
      text-align: center; } }
  .main-footer .container {
    flex-direction: row;
    justify-content: flex-end; }
  .main-footer .logo-footer {
    width: 165px;
    margin: 0 auto; }
  .main-footer .social-wrapper {
    display: flex;
    flex-direction: column; }
    .main-footer .social-wrapper .social-dupla {
      display: flex;
      width: 100%; }
      .main-footer .social-wrapper .social-dupla .social-link {
        width: 50%; }
        .main-footer .social-wrapper .social-dupla .social-link img {
          width: 75px; }
  .main-footer .instituicao-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-footer .instituicao-wrapper .faac {
      width: 180px; }
    .main-footer .instituicao-wrapper .unesp {
      width: 200px; }
  .main-footer .dev-container p {
    margin-bottom: 15px;
    color: white; }
  .main-footer .dev-container .dev-box {
    display: flex;
    align-items: center;
    border: 2px solid white;
    padding: 5px 20px;
    margin-left: 4px;
    font-size: 22px;
    color: white;
    transition: all 0.8s ease-in-out;
    text-decoration: none; }
    .main-footer .dev-container .dev-box:hover, .main-footer .dev-container .dev-box:focus, .main-footer .dev-container .dev-box:active {
      text-decoration: none;
      background-color: white;
      color: #3f51b5;
      border-color: white; }
    .main-footer .dev-container .dev-box .fa-github {
      transition: transform 0.8s ease-in-out;
      font-size: 36px;
      margin-right: 8px; }
    .main-footer .dev-container .dev-box span {
      display: inline-block; }
    .main-footer .dev-container .dev-box:hover a {
      color: #fff; }
    .main-footer .dev-container .dev-box:hover .fa-github {
      transform: rotateY(360deg); }

.container {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 1200px) {
    .container {
      width: calc(100% - 30px); } }

.search-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: relative; }
  .search-wrapper .input-text {
    width: 100%; }
    .search-wrapper .input-text input {
      padding-right: 135px; }
  .search-wrapper #search-button {
    height: calc(100% - 25px);
    position: absolute;
    right: 0;
    top: 16px; }

.list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  list-style: none; }
  .list-container.repos {
    background-color: #e3e3e3;
    border-radius: 4px; }
    .list-container.repos a {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center; }

.list-item {
  display: flex;
  border: 1px solid #e3e3e3;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 10px 0; }
  .list-item .avatar {
    height: 150px; }
  .list-item a {
    color: #484849;
    text-decoration: none;
    text-align: center; }

.info-container {
  width: 100%;
  margin-bottom: 30px; }

.user-info {
  display: flex; }
  .user-info .img-wrapper {
    margin-right: 30px; }
    .user-info .img-wrapper img {
      height: 100px;
      border-radius: 50%;
      padding: 4px;
      position: relative;
      border: 2px solid #3f51b5; }
  .user-info .meta-content {
    flex: 1; }
    .user-info .meta-content .row {
      display: flex; }
      .user-info .meta-content .row .col-md-6 {
        flex: 1; }

.commits-container .commits-item {
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  margin: 10px 0; }

.repo-info-wrapper {
  width: 100%; }
