$font-stack: Helvetica, sans-serif;

body {
    font: 100% $font-stack;
    margin: 0;
}

@mixin main {
    padding: 0.5rem;
}

@mixin collection-item {
    margin: 0;
}

.commit-message {
    @include collection-item;
}

.commit-author {
    @include collection-item;
    font-size: .8em;
    color: #999;
}

.main-header {
    @include main;
    background-color: #222;
    color: #fff;
    overflow: hidden;
}

.main-content {
    @include main;
}

.search-page {
    text-align: center;
}

.user-info__title, .user-info__bio, .user-info__stat-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-info__stat {
    margin-top: 20px;
}

.user-info__stat p {
    margin: 0;
    white-space: nowrap;
}
