/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 30/05/2019, 10:57:58
    Author     : Piercarlo
*/
@import "~bootstrap/scss/bootstrap";

img.size{
    width:5em;
    height:5em;
}

$break-large: 720px;

@media screen and (max-width: $break-large) {
    .small--font{
        font-size:15px;
    }
    .text--info{
        font-size:14px;
    }
}

$break-large: 1024px;

@media screen and (max-width: $break-large) {
    .small--font{
        font-size:15px;
    }
    .text--info{
        font-size:14px;
    }
}

.user--box{
    border:2px solid blue;
}

.text--center{
    text-align: center;
}

.top--banner{
    background-color:blue;
    height:1.5em;
    margin-bottom:0;
}

.text--color{
    color:white; 
}

li {
 list-style-type: none;
}

.border--items{
    border:2px dotted black;
}

.padding{
    padding:10px;
}

