$phone-width: 319px;
$tablet-portrait: 768px;
$tablet-landscape: 1025px;
$laptop-width: 1200px;
$desktop-1200-width: 1201px;
$desktop-1366-width: 1367px;
$desktop-1440-width: 1441px;
$desktop-1600-width: 1601px;
$desktop-1920-width: 1921px;

$dale-blue: #3f51b5;
$dale-darkgray: #484849;
$dale-lightgray: #e3e3e3;
$dale-black: #2D2D2D;

$main-font: 'Work Sans';
