body {
    font-family: $main-font;
    font-size: 13px;
    margin: 0;
}

.loading-gif {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    &-wrapper {
        flex: 1;
    }
    &-header {
        background-color: $dale-darkgray;
        padding: 15px 0;
        margin-bottom: 30px;

        .container {
            align-items: flex-start;

            a {
                color: white;
                text-decoration: none;
                font-size: 1.5rem;
                display: flex;
                align-items: center;

                i {
                    margin-right: 10px;
                    font-size: 2.2rem;
                }
            }
        }
    }
    &-footer {
        background-color: $dale-blue;
        display: flex;
        align-items: center;
        padding: 30px 0;
        margin-top: 30px;

        @include phone {
            height: auto;
        }
        .col-md-3 {
            @include phone {
                text-align: center;
            }
        }
        .container {
            flex-direction: row;
            justify-content: flex-end;
        }
        .logo-footer {
            width: 165px;
            margin: 0 auto;
        }
        .social-wrapper {
            display: flex;
            flex-direction: column;

            .social-dupla {
                display: flex;
                width: 100%;

                .social-link {
                    width: 50%;

                    img {
                        width: 75px;
                    }
                }
            }
        }
        .instituicao-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .faac {
                // height: 90px;
                width: 180px;
            }
            .unesp {
                width: 200px;
            }
        }
        .dev-container {
            p {
                margin-bottom: 15px;
                color: white
            }
            .dev-box {
                display: flex;
                align-items: center;
                border: 2px solid white;
                padding: 5px 20px;
                margin-left: 4px;
                font-size: 22px;
                color: white;
                transition: all 0.8s ease-in-out;
                text-decoration: none;

                &:hover, &:focus, &:active {
                    text-decoration: none;
                    background-color: white;
                    color: $dale-blue;
                    border-color: white;
                }
                .fa-github {
                    transition: transform 0.8s ease-in-out;
                    font-size: 36px;
                    margin-right: 8px;
                }
                span {
                    display: inline-block;
                }
                &:hover {
                    a {
                        color: #fff;
                    }
                    .fa-github {
                        transform: rotateY(360deg);
                    }
                }
            }
        }
    }
}

.container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include desktop-1200 {
        width: calc(100% - 30px);
    }
}

.search-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;

    .input {
        &-text {
            width: 100%;

            input {
                padding-right: 135px;
            }
        }
    }
    #search-button {
        height: calc(100% - 25px);
        position: absolute;
        right: 0;
        top: 16px;
    }
}

.list {
    &-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0;
        list-style: none;

        &.repos {
            background-color: $dale-lightgray;
            border-radius: 4px;

            a {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
            }
        }
    }
    &-item {
        display: flex;
        border: 1px solid #e3e3e3;
        padding: 10px 15px;
        border-radius: 4px;
        margin: 10px 0;

        .avatar {
            height: 150px;
        }
        a {
            color: $dale-darkgray;
            text-decoration: none;
            text-align: center;
        }
    }
}
.info {
    &-container {
        width: 100%;
        margin-bottom: 30px;
    }
}
.user {
    &-info {
        display: flex;

        .img-wrapper {
            margin-right: 30px;

            img {
                height: 100px;
                border-radius: 50%;
                padding: 4px;
                position: relative;
                border: 2px solid $dale-blue;
            }
        }
        .meta-content {
            flex: 1;

            .row {
                display: flex;

                .col-md-6 {
                    flex: 1;
                }
            }
        }
    }
}
.commits {
    &-container {
        .commits {
            &-item {
                flex-direction: column;
                align-items: flex-start;
                border: 2px solid #e3e3e3;
                border-radius: 4px;
                margin: 10px 0;
            }
        }
    }
}
.repo {
    &-info {
        &-wrapper {
            width: 100%;
        }
    }
}
